.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear ;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Light mode styles */
body.light-mode {
  background-color: white;
  color: black;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: white;
}

.navbar {
  transition: background-color 0.3s, color 0.3s;
}

/* Light mode navbar */
.navbar-dark {
  background-color: black !important;
  color: white !important;
}

.navbar-dark .nav-link {
  color: white !important;
}

/* Dark mode navbar */
.navbar-light {
  background-color: white !important;
  color: black !important;
}

.navbar-light .nav-link {
  color: black !important;
}

.btn {
  transition: background-color 0.3s, color 0.3s;
}

.btn-light {
  background-color: white !important;
  color: black !important;
}

.btn-dark {
  background-color: black !important;
  color: white !important;
}
